﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username">Имя пользователя</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Контактный номер</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-outline-info">Сохранить</button>
        </form>
    </div>
</div>
@if (User.IsInRole("User"))
{
    <button style="margin-top: 10px;" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#feedbackModal">Обратная связь с администратором</button>

    <a asp-controller="StudentsRegister" asp-action="Edit" style="margin-top: 10px;" class="btn btn-outline-info">Обновить данные о ВУЗ</a>
}
<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <label style="color:black;" for="messageTitle">Заголовок обращения</label>
                    <input type="text" class="form-control" id="messageTitle">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label style="color:black;" for="messageBody">Текст обращения</label>
                    <textarea class="form-control" id="messageBody" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button id="send" type="button" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
    <script>
        $('#send').click(function(e) {
            e.preventDefault();
            console.log($('#messageTitle').val());
            console.log($('#messageBody').val());
            $.ajax({
                type: "POST",
                url: "/StudentFeedback/CreateStudentFeedBack/",
                data: {
                    Title: $('#messageTitle').val(),
                    Body: $('#messageBody').val()
                },
                success: function(result) {
                    if (result.success) {
                        $('#feedbackModal').modal('hide');
                        alert('Заявка отправлена, ожидайте ответа.');
                    } else {
                        alert('что то пошло не так...');
                    }
                },
                error: function(result) {
                    alert(result);
                }
            });
        });
    </script>
}