﻿@using Domain.Entities
@model Domain.Entities.StudentsInfo
@{
    ViewData["Title"] = "StudentCard";

}

<div class="row" style="color:aliceblue">
    <div class="col">
    </div>
    <div class="col-6">
        <div class="card border-dark">
            <div  style="color:black" class="card-header">Карточка студента</div>
            @if (Model != null)
            {
                <div class="card-body text-dark">
                    <h5 class="card-title">Ваши данные</h5>
                    <p class="card-text">Имя: @Model.FirstName</p>
                    <p class="card-text">Фамилия: @Model.LastName</p>
                    <p class="card-text">Отчество: @Model.MiddleName</p>
                    <p class="card-text">Дата рождения: @Model.DateBorn</p>
                    <p class="card-text">Учебное заведение: @Model.UniversityName</p>
                    <p class="card-text">Тип обучения: @Model.EducationType.Name</p>
                    <p class="card-text">Программа обучения @Model.EducationProgramm.Name</p>
                    <p class="card-text">Телефон: @Model.PhoneNumber</p>
                    <p class="card-text">Email: @Model.Email</p>
                </div>
            }
        </div>
    </div>
    <div class="col">
    </div>
</div>

