﻿@model IEnumerable<Domain.Entities.StudentFeedBack>
@{
    ViewData["Title"] = "GetAllStudentFeedbacks";
}

<h1>Заявки студентов</h1>

<table class="table" style="color:aliceblue">
    <thead>
        <tr>
            <th>
                Имя студента
            </th>
            <th>
                Фамилия студента
            </th>
            <th>
                Отчество студента
            </th>
            <th>
                Заголовок заявки
            </th>
            <th>
                Сообщение заявки
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.StudentsInfo.Last().FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.StudentsInfo.Last().LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.StudentsInfo.Last().MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
