﻿@page
@model LoginModel

@{

}

<div class="middle-box text-center loginscreen animated fadeInDown" style="color:aliceblue">
    <div>
        <div>
        </div>
        <h3>Авторизация</h3>

        <p></p>
        <form class="m-t" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Логин" />
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" id="myInput" placeholder="Пароль" />
            </div>
            <div class="form-group m-t">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    Запомнить меня?
                </label>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b">Вход</button>
            <a asp-action="ForgotPassword"><small style="color:white;">Забыли пароль?</small></a>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
