﻿@model Common.Models.StudentsPanelModels.StudentRegistrationModel
@{
    ViewData["Title"] = "Edit";
    var educationProgramms = (IEnumerable<SelectListItem>)ViewBag.EducationProgramms;
    var educationTypes = (IEnumerable<SelectListItem>)ViewBag.EducationTypes;
    var studentStatuses = (IEnumerable<SelectListItem>)ViewBag.StudentStatuses;
}

<h1>Информация о студенте</h1>

<form asp-action="Edit" method="post" style="color:aliceblue">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="FirstName">Имя</label>
            <input asp-for="FirstName" type="text" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LastName">Фамилия</label>
            <input asp-for="LastName" type="text" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="MiddleName">Отчество</label>
            <input asp-for="MiddleName" type="text" class="form-control">
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DateBorn">Дата рождения</label>
            <input asp-for="DateBorn" type="date" class="form-control">
            <span asp-validation-for="DateBorn" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
            <label asp-for="PhoneNumber">Контактные данные</label>
            <input asp-for="PhoneNumber" pattern="[0-9]*" type="number" class="form-control" placeholder="996">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <h4>Информация об учебном заведении</h4>
    <div class="form-group">
        <label asp-for="UniversityName">Название учебного заведения</label>
        <input asp-for="UniversityName" type="text" class="form-control" placeholder="Кыргызский национальный университет">
        <span asp-validation-for="UniversityName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Speciality">Специальность</label>
        <input asp-for="Speciality" type="text" class="form-control" placeholder="Юриспруденция">
        <span asp-validation-for="Speciality" class="text-danger"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="CountryName">Страна обучения</label>
            <input asp-for="CountryName" type="text" class="form-control">
            <span asp-validation-for="CountryName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="YearOfEducationStart">Год поступления</label>
            <input asp-for="YearOfEducationStart" type="date" class="form-control">
            <span asp-validation-for="YearOfEducationStart" class="text-danger"></span>
            <label asp-for="EducationProgrammId">Программа образования</label>
            <select asp-for="EducationProgrammId" class="form-control" asp-items=@educationProgramms>
                <option selected>Выберите...</option>
            </select>
            <span asp-validation-for="EducationProgrammId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="EducationTypeId">Форма обучения</label>
            <select asp-for="EducationTypeId" class="form-control" asp-items=@educationTypes>
                <option selected>Выберите...</option>
            </select>
            <span asp-validation-for="EducationTypeId" class="text-danger"></span>
            <label asp-for="StatusId">Статус</label>
            <select asp-for="StatusId" class="form-control" asp-items=@studentStatuses>
                <option selected>Выберите...</option>
            </select>
            <span asp-validation-for="StatusId" class="text-danger"></span>
        </div>
    </div>
    <h4>Контактные данные родителей или членов семьи</h4>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ParentFirstName">Имя попечителя</label>
            <input asp-for="ParentFirstName" type="text" class="form-control">
            <span asp-validation-for="ParentFirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ParentRelation">Степень родства</label>
            <input asp-for="ParentRelation" type="text" class="form-control">
            <span asp-validation-for="ParentRelation" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ParentLastName">Фамилия попечителя</label>
            <input asp-for="ParentLastName" type="text" class="form-control">
            <span asp-validation-for="ParentLastName" class="text-danger"></span>
            <label asp-for="ParentMiddleName">Отчество попечителя</label>
            <input asp-for="ParentMiddleName" type="text" class="form-control">
            <span asp-validation-for="ParentMiddleName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="ParentsContantNumber">Контактные данные</label>
            <input asp-for="ParentsContantNumber" pattern="[0-9]*" type="number" class="form-control" placeholder="996">
            <span asp-validation-for="ParentsContantNumber" class="text-danger"></span>
            <label asp-for="ParentsEmail">Email</label>
            <input asp-for="ParentsEmail" type="email" class="form-control">
            <span asp-validation-for="ParentsEmail" class="text-danger"></span>
        </div>
    </div>
    <h4>Предыдущее образование</h4>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="LastEducationSchoolName">Школа</label>
            <input asp-for="LastEducationSchoolName" type="text" class="form-control">
            <span asp-validation-for="LastEducationSchoolName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="LastEducationUniversityName">ВУЗ</label>
            <input asp-for="LastEducationUniversityName" type="text" class="form-control">
            <span asp-validation-for="LastEducationUniversityName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input asp-for="IsAcceptDataSharing" class="form-check-input" type="checkbox">
            <label asp-for="IsAcceptDataSharing" class="form-check-label">
                Я согласен на обработку моих данных
            </label>
        </div>
    </div>
    <button style="margin-bottom:90px;" type="submit" class="btn btn-primary">Сохранить</button>
</form>