﻿@model IEnumerable<Domain.Entities.StudentsInfo>
@{
    ViewData["Title"] = "GetAllStudentInfos";
    var educationProgramms = (IEnumerable<SelectListItem>)ViewBag.EducationProgramms;
    var educationTypes = (IEnumerable<SelectListItem>)ViewBag.EducationTypes;
    var studentStatuses = (IEnumerable<SelectListItem>)ViewBag.StudentStatuses;
}

<button data-toggle="modal" data-target="#filtermodal" type="button" style="margin-bottom: 20px;" class="btn btn-outline-info">Фильтр</button>

<table class="table" style="font-size: 10px; color:aliceblue;">
    <thead>
    <tr>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.FirstNameSort">
                Имя
            </a>
        </th>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.LastNameSort">
                Фамилия
            </a>
        </th>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.MiddleNameSort">
                Отчество
            </a>
        </th>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.DateBornSort">
                Дата рождения
            </a>
        </th>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.CountryNameSort">
                Страна обучения
            </a>
        </th>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.UniversityNameSort">
                Название учебного заведения
            </a>
        </th>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.YearOfEduStartSort">
                Год поступления
            </a>
        </th>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.PhoneNumberSort">
                Контактный номер
            </a>
        </th>
        <th>
            <a asp-action="GetAllStudentInfos" asp-route-sortOrder="@ViewBag.EmailSort">
                Почта
            </a>
        </th>
        <th>
            Специальность
        </th>
        <th>
            Программа обучения
        </th>
        <th>
            Тип обучения
        </th>
        <th>
            Статус обучения
        </th>
        <th>
            Согласен на обработку данных
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBorn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniversityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfEducationStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationProgramm.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAcceptDataSharing)
                </td>
                <td>
                    <a asp-action="EditStudentInfo" asp-route-id="@item.Id">Подробней</a> 
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<button id="exportExcel" asp-controller="StudentInfo" asp-action="GetStudentsReportExcel" style="margin-top: 10px; margin-bottom:90px;" class="btn btn-outline-info">Экспорт данных в Excel</button>

<div class="modal fade" id="filtermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form style="color:black">
            <div class="modal-content">
                <div class="modal-header">
                    <label style="color:black;">Фильтр</label>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstNameFilter">Имя</label>
                        <input name="FirstName" type="text" class="form-control" id="firstNameFilter" placeholder="Василий">
                        <label for="lastNameFilter">Фамилия</label>
                        <input name="LastName" type="text" class="form-control" id="lastNameFilter" placeholder="Аманов">
                        <label for="middleNameFilter">Отчество</label>
                        <input name="MiddleName" type="text" class="form-control" id="middleNameFilter" placeholder="Василий">
                        <label for="exampleFormControlInput1">Почта</label>
                        <input name="Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                        <div class="form-group">
                            <label for="educationTypeFilter">Тип обучения</label>
                            <select name="EducationTypeId" class="form-control" id="educationTypeFilter" asp-items=@educationTypes>
                                <option selected>Выберите...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="educationProgrammFilter">Программа обучения</label>
                            <select name="EducationProgrammId" class="form-control" id="educationProgrammFilter" asp-items=@educationProgramms>
                                <option selected>Выберите...</option>
                            </select>
                        </div>
                         <div class="form-group">
                            <label for="studentStatusFilter">Статус</label>
                            <select name="StudentStatusId" class="form-control" id="studentStatusFilter" asp-items=@studentStatuses>
                                <option selected>Выберите...</option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button id="send" type="submit" class="btn btn-primary">Отфильтровать</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).on("click", "#exportExcel", function () {
            $.ajax({
                type: "POST",
                url: '/StudentInfo/GetStudentsReportExcel/'
            }).done(function (data) {
                var url = data;
                var a = document.createElement('a');
                a.href = data;
                a.download = 'report.xlsx';
                a.click();
                window.URL.revokeObjectURL(url);
            }).fail(function () {
                alert("Ошибка при создании отчета")
            });
        });
    </script>
}
